### Optional Download (You shouldn't need to do this)

In [ ]:
# uncomment to download data. 
# Not needed if you have the .parquet file in the data/historical folder

# !python qualifier\utils\download_stock_data.py

### Load Dataset from file

In [1]:
import pandas as pd
import numpy as np

# Load the Parquet file
df = pd.read_parquet("data/historical/all_stocks_historical.parquet")

print("Dataset loaded")

print(f"\nShape: {df.shape}")
print(f"Columns: {list(df.columns)}")
print(f"\nData types:\n{df.dtypes}")

Dataset loaded

Shape: (89859344, 7)
Columns: ['ticker', 'date', 'open', 'high', 'low', 'close', 'volume']

Data types:
ticker            object
date      datetime64[us]
open             float64
high             float64
low              float64
close            float64
volume           float64
dtype: object

In [2]:
# asic info about the dataset
print("=== Dataset Overview ===")
print(f"Total rows: {len(df):,}")
print(f"Unique tickers: {df['ticker'].nunique():,}")
print(f"Date range: {df['date'].min()} to {df['date'].max()}")
print(f"Total trading days: {(df['date'].max() - df['date'].min()).days} days")
print(f"\nMissing values:\n{df.isnull().sum()}")

=== Dataset Overview ===
Total rows: 89,859,344
Unique tickers: 7,144
Date range: 1962-01-02 00:00:00 to 2025-11-13 00:00:00
Total trading days: 23326 days

Missing values:
ticker           0
date             0
open      63587034
high      63587034
low       63587034
close     63587033
volume    63587031
dtype: int64

### Trimming data to start in 2015 so we dont drop all stocks when we clean.

In [3]:
# triom data to start on 2015-01-01
df = df[df['date'] >= '2015-01-01']

# remove nans and then check missing values again
df = df.dropna()
print(f"Total rows: {len(df):,}")
print(f"Unique tickers: {df['ticker'].nunique():,}")
print(f"Date range: {df['date'].min()} to {df['date'].max()}")
print(f"Total trading days: {(df['date'].max() - df['date'].min()).days} days")
print(f"\nMissing values:\n{df.isnull().sum()}")

Total rows: 12,711,497
Unique tickers: 7,093
Date range: 2015-01-02 00:00:00 to 2025-11-13 00:00:00
Total trading days: 3968 days

Missing values:
ticker    0
date      0
open      0
high      0
low       0
close     0
volume    0
dtype: int64

In [5]:
# Basic statistics
print("=== Descriptive Statistics ===")
df[['ticker', 'open', 'high', 'low', 'close', 'volume']].describe()

=== Descriptive Statistics ===

               open          high           low         close        volume
count  1.271150e+07  1.271150e+07  1.271150e+07  1.271150e+07  1.271150e+07
mean   6.438259e+07  6.747867e+07  6.086088e+07  6.368210e+07  1.441609e+06
std    1.089988e+10  1.142405e+10  1.031739e+10  1.078433e+10  9.907111e+06
min   -2.783000e+03 -2.865500e+03 -2.704900e+03 -2.788500e+03  0.000000e+00
25%    9.365682e+00  9.530000e+00  9.193228e+00  9.359791e+00  2.430000e+04
50%    2.112367e+01  2.143750e+01  2.081005e+01  2.112000e+01  1.729000e+05
75%    4.878992e+01  4.945642e+01  4.809330e+01  4.877124e+01  8.187000e+05
max    3.614625e+12  4.662562e+12  3.417188e+12  3.599437e+12  3.692928e+09